* { font-size:inherit; }
/*
	clavier numérique
*/
.clavier_num_div button {
	border-width: 4px;
	border-style: solid;
	border-color: #888 #444 #444 #888;
	padding: 3px 8px 3px;
	margin: 8px 4px 0px;
	background: #f4f4f4;
	font-size: 1em;
	cursor: pointer;
	font-family: Arial;
}
.lc .centaine { color:#0C0; }
.lc .dizaine { color:#F00; }
.lc .unite { color:#00F; }
.lc .milliers { color:#000; }
/*
	trucs locaux
*/
body {
	font-size: 40px;
}
.champ_numerique {
	display: block;
	min-width: 80px;
	height:1em;
	text-align:center;
	border: 4px solid #AAF;
}

.bloc_principal {
	border: 2px solid #BBB;
	margin: 8px 2px 0px;
	padding: 0 32px 0;
	position: relative;
}
.bloc_principal #bleft {
	position: absolute;
	left:0px;
	width: 30px;
	font-size: 20px;
	height: 100%;
	padding: 0;
	text-align:center;
	z-index:10;
}
.bloc_principal #bright {
	position: absolute;
	right:0px;
	width: 30px;
	font-size: 20px;
	height: 100%;
	padding: 0;
	text-align:center;
	z-index:10;
}
.bloc_principal .bloc_contenu {
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	height: 424px;
}
.table_contenu {
	display:block;
	position:relative;
}
.table_contenu td {
	vertical-align:top;
}

h1 {
	text-align:center;
	padding:8px;
}
img { border:none; }
.recherche td {
	padding: 0px 12px 0px;
}
.error {
	padding-left:15px;
	font-size:0.7em;
	color: red;
}

/* bloc menu */
.bm {
	white-space: nowrap;
	cursor:pointer;
	display: block;
	text-align:center;
	width: auto;
	padding: 20px 80px;
	margin: 4px auto;
	text-decoration: none;
	color: #228;
	background: #FFF;
	border: 4px solid #88F;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
*.bm:hover {
	background: #eee;
}

.bloc_exos_page {
	display:none;
	position:absolute;
}
.bloc_exos_page td {
	vertical-align:top;
}
.bloc_exos_page .revenir {
	color: #822;
	border-color: #F88;
}
/* .bloc_lien_exercice */
.be {
	position: relative;
}
/* .notation */
.be .n {
	position: absolute;
	top:0;
	right:0;
}
.be .n img {
	float: right;
}

td.colpair1 .bm {
	color: #282;
	border-color: #8F8;
}
td.colpair2 .bm {
	color: #822;
	border-color: #F88;
}

